body {

    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

label {
    font-size: 20px;
    width: 150px;
    color: cornflowerblue;
    display: inline-block;
}

li{
    font-size: 20px;
    color: cornflowerblue;
}

p {
    color: cornflowerblue;
}


